body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url(yber.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
    height: 200px;
    border-radius: 40px;
    padding: 20px 20px;
    background: black;
    color: white;
    background:linear-gradient(135deg,rgb(231, 61, 89),blue) border-box;
    margin-top: 310px;
}

p {
    margin: 0;
}

.person_info, .job_info {
    display: flex;
    flex-direction: column;
}

.btn_save {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 370px;
    color: white;
    background: black;
    border: 2px solid plum;
    border-radius: 10px;
}

.container-table {
    margin-top: 5rem;
}

.table {
    background:linear-gradient(135deg,rgb(231, 61, 89),blue) border-box;
    border-collapse: collapse;
    margin: auto
}

.block {
    padding: 25px 50px;
    border: 2px solid rgb(85, 58, 25);
    font-size: 15px
}

.block-button {
    padding: 0;
}

.block_button {
    padding: 25px 50px;
    border: none;
    background: #000;
    font-size: 14px;
    cursor: pointer;
}

.dNone {
    display: none
}

.string-clone td {
    background: purple;
}